@import "tailwindcss";

@layer base {
  h1 {
    color: #f8f5f2;
    font-family: var(--h-ff);
  }

  h2 {
    font-family: var(--h-ff);
  }
}

@theme {
  --color-charcoal-500: #333338;
  --color-lightTaupe-500: #e8e2dc;
  --color-OffWhite-500: #f8f5f2;
}

:root {
  --h-ff: "Cormorant Garamond", serif;
}

body {
  /* background-color: var(--h-clr); */
}
